<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Change Password</title>
    <th:block th:replace="~{fragments :: html_head}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .control-label {
            font-weight: bold;
            margin-top: 4px;
            margin-bottom: 4px;
        }
    </style>
</head>

<body>
<div th:replace="~{fragments :: navbar}"></div>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div th:if="${param.email_send_error}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Something went wrong while sending email!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <div th:if="${param.empty_user}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    No such token found!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>


            <div th:if="${param.expired_pw_token}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    The token is expired!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <div th:if="${param.invalid_pw_token}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    The password change request does not exist or has already been used!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <div th:if="${param.pw_error}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    The old password is not correct!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <div th:if="${param.change_pw_success}">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    You have successfully reset your password, please <a th:href="@{/login}" class="alert-link">log in
                    here</a>.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>


            <div class="card bg-light">
                <div class="card-header">
                    <h2 class="text-center">Change your password</h2>
                </div>

                <div class="card-body">

                    <form th:action="@{/forgotPassword/change-password}" method="post">

                        <input type="hidden" name="token" th:value="${token}">

                        <div class="form-group mb-3">
                            <label for="oldPassword" class="control-label">Old Password</label>
                            <input type="password" class="form-control" id="oldPassword" name="oldPassword" required
                                   placeholder="Enter your old password"
                                   autofocus="autofocus">
                        </div>

                        <div class="form-group mb-3">
                            <label for="newPassword" class="control-label">New Password</label>
                            <input type="password" class="form-control" id="newPassword" name="newPassword" required
                                   placeholder="Enter your new password" oninput="checkConfirmPassword()">
                        </div>

                        <div class="form-group mb-3">
                            <label for="confirmPassword" class="control-label">Confirm New Password</label>
                            <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                                   required
                                   placeholder="Confirm your new password" oninput="checkConfirmPassword()">
                        </div>

                        <div class="form-group mb-3">
                            <button type="submit" name="changePassword" id="changePassword" class="btn btn-success">
                                Change Password
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments :: scripts}"></div>
<div th:replace="~{fragments :: showConfirmationPopup}"></div>

<script type="text/javascript">
    function checkConfirmPassword() {
        const newPassword = document.querySelector('input[name=newPassword]');
        const confirmPassword = document.querySelector('input[name=confirmPassword]');
        if (confirmPassword.value === newPassword.value) {
            confirmPassword.setCustomValidity('');
            confirmPassword.style.background = '';
        } else {
            confirmPassword.setCustomValidity('Confirm password does not match!');
            confirmPassword.style.background = 'mistyrose';
        }
    }
</script>
</body>
</html>