<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>New verification token</title>
    <th:block th:replace="~{fragments :: html_head}"></th:block>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .control-label {
            font-weight: bold;
            margin-top: 4px;
            margin-bottom: 4px;
        }
    </style>
</head>

<body>
<div th:replace="~{fragments :: navbar}"></div>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">

            <div th:if="${param.email_not_found}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    No user found with this email!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <div th:if="${param.error}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Something went wrong, please try it again!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <div th:if="${param.email_verified}">
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    Your email already verified!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <div th:if="${param.success}">
                <div class="alert alert-info alert-dismissible fade show" role="alert">
                    We have just sent a verification link to your email, please check to
                    complete your request.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>

            <div class="card bg-light">
                <div class="card-header">
                    <h2 class="text-center">New verification token</h2>
                </div>

                <div class="card-body">

                    <form th:action="@{/registration/sendVerificationToken}" method="post">

                        <div class="form-group mb-3">
                            <label for="email" class="control-label">Email address:</label>
                            <input type="text" class="form-control" id="email" name="email" required
                                   autofocus="autofocus"
                                   placeholder="Enter your email address">
                        </div>

                        <div class="form-group mb-3">
                            <button type="submit" class="btn btn-dark">Send new token</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="~{fragments :: scripts}"></div>
<div th:replace="~{fragments :: showConfirmationPopup}"></div>
</body>

</html>